/*@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"); /*** override primefaces style ***/

form.consult input.ui-inputfield[disabled],
form.consult input.ui-inputfield[disabled].ui-state-focus,
form.consult textarea.ui-inputfield[disabled],
form.consult textarea.ui-inputfield[disabled].ui-state-focus,
form.consult div.ui-selectonemenu.ui-state-disabled .ui-selectonemenu-label {
    /*border: 1px !important;
    box-shadow: none !important;
    outline: 0 !important;*/
    opacity: 100 !important;
    background-color: #FFF !important;
}

form.consult div.ui-selectoneradio .ui-state-disabled {
    opacity: 100 !important;
}

form.consult div.ui-selectonemenu.ui-state-disabled {
    opacity: 100 !important;
    /*border-bottom: 0px !important;*/
}

form.consult .ui-autocomplete-dropdown.ui-state-disabled {
    display: none !important;
}

form.consult .ui-selectonemenu.ui-state-disabled .ui-selectonemenu-trigger {
    display: none !important;
}

form.consult .fa.fa-close.fa-lg {
    display: none !important;
}

form.consult .ui-messages-detail {
    display: none !important;
}

form.consult .fa.fa-search.fa-lg {
    display: none !important;
}

form.consult .ui-messages-icon.fa.fa-info-circle {
    display: none !important;
}

form#mainForm table tbody tr td div.relationshipDefinitionError {
    border: 1px solid #F03369 !important;
    color: #F03369;
}

.fullyDefined .ui-panelgrid-cell {
    padding: 0px !important;
}

.fullyDefined .ui-chkbox-label {
    padding-left: 14px !important;
}

form#mainForm .ui-tabs .ui-tabs-panel {
    padding: 1px !important;
}